<!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <img width="32px" src="/assets/monitor_logo.png">
      <b>E</b>M
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">


      <b><img width="32px" align=center src="/assets/monitor_logo.png">Environment</b>Monitor

    </span>
  </a>
  <!--<logo></logo>-->
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <!-- <div class="navbar-custom-menu">
       <ul class="nav navbar-nav" >
         &lt;!&ndash; Messages: style can be found in dropdown.less&ndash;&gt;
         <li class="dropdown messages-menu messagesBox"></li>
         &lt;!&ndash; Notifications Menu &ndash;&gt;
         <li class="dropdown notifications-menu notificationsBox"></li>
         &lt;!&ndash; Tasks Menu &ndash;&gt;
         <li class="dropdown tasks-menu tasksBox"></li>
         &lt;!&ndash; User Account Menu &ndash;&gt;
         <li class="dropdown user user-menu userBox"></li>
         &lt;!&ndash; Control Sidebar Toggle Button &ndash;&gt;
         <li><a href="#" data-toggle="control-sidebar"
                class="toggle-sidebar-right"><i class="fa fa-gears"></i></a></li>
       </ul>
     </div>-->
  </nav>
</header>
