@mixin widgets-resource-details-widget {

  .monitor-chart {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    @include aspect-ratio(16, 9);

  }

  .monitor-chart canvas {
    position: relative;
    left: 0;
    top: 0;
    height: 100% !important;
  }

}