<div class="form-group">
  <label>Date and time range:</label>

  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-clock-o"></i>
    </div>

    <!--ng2-datepicker-->
    <input type="text" class="form-control" name="daterangeInput" daterangepicker [options]="options"
           (selected)="onDateSelected($event)"
    />

  </div>
</div>

<div class="form-group">
  <label>Environment:</label>
  <select class="form-control" (change)="onEnvChange($event.target.value)">
    <option *ngFor="let env of environments">{{env.environmentName}}</option>
  </select>
</div>

<div class="form-group" *ngIf="showResPicker && environment">
  <label>Resource:</label>
  <select class="form-control" (change)="onResourceChange($event.target.value)">
    <option *ngFor="let resource of environment.checkedResources">{{resource.name}}</option>
  </select>
</div>








