@mixin dashboards-current-status-dashboard {

  .current-status-panel {

    @include valo-panel-style;
    margin-bottom: round($view-padding / 3);

    @include width-range($max: 680px) {
      .current-status-widget {
        width: 50%;
      }

    }

    @include width-range($max: 270px) {
      .current-status-widget {
        width: 100%;
      }
    }

    @include widgets-button-status-widget;
  }

}