<!-- Sidebar Menu -->
<ul class="sidebar-menu tree" data-widget="tree">
  <li class="header">HEADER</li>
  <li [routerLinkActive]="['active']">
    <a href="" [routerLink]="['/current-dashboard']">
      <i class="fa fa-link"></i>
      <span>Current Env Status</span>
    </a>
  </li>

  <li [routerLinkActive]="['active']">
    <a href="" [routerLink]="['/period-dashboard']">
      <i class="fa fa-link"></i>
      <span>Period Dashboard</span>
    </a>
  </li>

  <li [routerLinkActive]="['active']">
    <a href="" [routerLink]="['/resource-dashboard']">
      <i class="fa fa-link"></i>
      <span>Resource Dashboard</span>
    </a>
  </li>


  <!--<li class="treeview">
    <a href="#">
      <i class="fa fa-link"></i>
      <span>Multilevel</span>
      <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">Link in level 2</a></li>
      <li><a href="#">Link in level 2</a></li>
    </ul>
  </li>-->
</ul>
