<!-- //TODO Remove hardconde-->

<table class="table table-hover">
  <tbody>
  <tr>
    <th>Status</th>
    <th>Count</th>
    <th>Percentage</th>
    <th>Graph</th>
  </tr>
  <tr>
    <td><strong>Online</strong></td>
    <td>100</td>
    <td>100%</td>
    <td>
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-success" style="width: 55%"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td><strong>Unavailable</strong></td>
    <td>100</td>
    <td>100%</td>
    <td>
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td><strong>Border Line</strong></td>
    <td>100</td>
    <td>100%</td>
    <td>
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-warning" style="width: 55%"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td><strong>Unknown</strong></td>
    <td>100</td>
    <td>100%</td>
    <td>
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-default" style="width: 55%"></div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
